* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFSymbols.ttf");
}
html {
  height: 100vh;
}
body {
  height: 100vh;
  overflow: hidden;
}
#backdrop {
  top: 0em;
width: 100%;
  position: absolute;
  z-index: -100;
  #topBar {
    width: 100%;
    padding: 2em;
    background: rgba(27, 64, 54, 1);
  }
}
#appContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: space-between;
}
#topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  order: 1;
  background: rgba(27, 64, 54, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.7);
  order: 1;
  z-index: 10;

  .icon {
    color: #ffffff;
  }
}

.heading {
  flex: none;
  order: 2;
  flex-grow: 0;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color: #ffffff;
}
.iconButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  flex: none;
  flex-grow: 0;
}
.icon {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
#tabBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5em 1em;
  background: rgba(249, 249, 249, 0.8);
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  flex-grow: 0;
  order: 3;
}
.tabItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0.5em;
  .icon {
    color: #1b4036;
  }

  .tabLabel {
    text-decoration: none;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0.25em 0em;

    color: #1b4036;
  }
}
#content {
  display: block;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-top: 7em;
  height: 100%;
  width: 100%;
  position: absolute;
}
.post:nth-last-of-type(1) {
  margin-bottom: 15em;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url(../images/TeTuatahianui.jpg);
  backdrop-filter: blur(80px);
  border-radius: 1em;
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;

  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    flex-grow: 1;
    background: url(../images/TeTuatahianui.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: none;
    min-height: 20em;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20px);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;

    .metaPost {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;

      .metaPostLeft {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        .title {
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: bold;
          font-size: 2em;
          color: #000000;
          flex: none;
          order: 1;
          flex-grow: 0;
        }
        .subtitle {
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: 500;
          font-size: 1em;
          color: rgba(60, 60, 67, 0.6);
          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
      .metaPostRight {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 1;
        .subtitle {
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: 500;
          font-size: 1em;
          color: rgba(60, 60, 67, 0.6);
          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
    }
  }
}
hr {
  background: #c6c6c8;
}
